* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*para utilizar una fuente instalada en nuestro proyecto*/
@font-face {
    font-family: 'coco' ;
    src: url(../fonts/Coco-Bold.otf)
    format ('truetype');
}

@font-face {
    font-family: 'inkfree' ;
    src: url(../fonts/Inkfree.ttf)
    format ('truetype');
}

/*para importar una fuente libre y poder utilizarla en nuestro proyecto*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



/*-- HEADER Y NAV --*/

/*color fondo menu hamburguesa*/
.navbar-toggler {
    background-color: rgba(131, 225, 248, 0.24);
}

/*border del fondo del nav*/
.text-bg-dark {
    border-radius: 20px;
}

/*espacio entre los items del menu*/
.nav-link {
    /* padding: 5px; */
    font-size: 1.5em;
}

/* LOGO titulo */
.logo {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #fff !important;
    color: #6cc091;
    font-weight: 200;
    font-size: 50px;
    font-family: 'coco';    /*utilizo la fuente declarada en @font-face*/
}

/* LOGO imagen*/
#logo {
    border-color: #4040e9;
    border-style: double;
    width: 10em;
    height: 5em;
    border-radius: 20px;
    padding: 5px;
}

#logo1 {
    display: none;
    /* width: 20vw;
    border-radius: 20px;
    padding: 5px; */
}

/* configuro el menu */

.menu-color {
    color: rgb(206, 206, 206) !important;
}

.menu-color:hover {
    color: #6cc091 !important;
}

/* body */

body {
    background-image: url(../img/cascada.jpg);
    background-size: cover;
    background-attachment: fixed;  /*deja fijo la imagen en el fondo*/
    font-family: 'Permanent';  /*uso la fuente declarada en el html*/
}

/*-- BANNER --*/
#banner {
    padding: 0 50px;
    background: none;
    /* background-image: url(../img/diseño.jpg);
    background-attachment: fixed;  deja fijo la imagen en el fondo */
    height: 45vh; /*altura de acuerdo al dispositivo*/
    background-size: cover; /*para que ocupe todo*/
    background-position: center; /*para que se posicione en el centro*/
}

/* anulo la sombra del banner */

/* #banner::before {
    content: ''; /*todo before tiene que tener un content aunque sea vacio*/
/*    background: rgba(77,77,92,0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
} */

.contenido_banner {
    position: relative;  /*para que se posicione por encima de todo*/
    color: rgb(50, 187, 22);
    text-shadow: 2px 2px 2px black;
    height: 100%; /*para que use todo el tamaño del contenedor*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido_banner h3 {
    font-size: 50px;
    font-weight: 400;
    padding: 10px 0px;
    font-family: 'Lobster';   /*utilizo la fuente importada*/
}

.contenido_banner h3 span{
    font-weight: 600;
}

.boton_empezar {
    text-decoration: none;
    color: #fff;
    border: 1px solid #6cc091;
    padding: 20px 40px;
    align-self: baseline; /*para que ocupe el ancho del contenido*/
    transition: all 0.4s;
}

.boton_empezar:hover {
    background: #6cc09070;
}
/* termino el banner*/

/* coloco el fondo para los sections */
.color-fondo {
    background-color: #21212285;
    color: #fff;
}

/* ASIDE */

aside {
    background-color: beige;
    padding: 20px;
}

.container-fluid {   /* calculo los bordes del contenedor*/
    padding-right: calc(var(--bs-gutter-x) * .2);
    padding-left: calc(var(--bs-gutter-x) * .2);
}

.container-fluid H1 {
    font-family: 'INKFREE';    /*utilizo la fuente declarada en @font-face*/
}

/* ESPACIO ENTRE CONTENEDORES */

.espacio {   /* genero un espacio entre el aside y section*/
    height: 5vh;
    background: none;
}

/* SECTION */

section {
    padding: 20px;
}

#titulo {
    font-size: 5rem;
    text-align: center;
    text-decoration: underline;
}

/* CARDS */

.card {
    border-radius: 15px;
    background-color: #72f5ea33;
    color: black !important;
}

.card-img-top {
    width: 20rem;
    height: 20rem;
}

.btn {
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
}

footer a img {
    padding: 5px;
}

.fondo-copy {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 20px;
    background-color: rgba(128, 128, 128, 0.849);
    border-style: solid;
    border-top-color: #21212285;
    border-bottom-color: #21212285;
    border-left-color: #21212285;
    font-size: 1.2rem;
}

.fondo-mapa {
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.849);
    border-style: solid;  
    border-top-color: #21212285;
    border-bottom-color: #21212285;
}

.fondo-mapa iframe {
    width: 15rem;
    height: 5rem;
}

.fondo-redes {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 20px;
    background-color: rgba(128, 128, 128, 0.849);
    border-style: solid;
    border-top-color: #21212285;
    border-bottom-color: #21212285;
    border-right-color: #21212285;
}

.fondo-redes img {
    width: 4.5rem;
    height: 4.5rem;
}

#flecha-arriba {
    display: block;
    width: 70px;
           /* Tamaño del icono */
    height: 70px;
    color: #fff;
    position: fixed;
    right: 20px;       /*Cambia right por left para que se vea la izquierda en vez de a la derecha*/
    bottom: 70px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}



/* RESPONSIVE */

@media screen and (max-width: 575px) {

    .contenido_banner h3 {
        font-size: 30px;
        font-weight: 400;
        padding: 10px 0px;
        font-family: 'Lobster';   /*utilizo la fuente importada*/
    }

    #titulo {
        font-size: 2rem;
    }

    .logo {
        /* text-transform: uppercase;
        font-weight: 200; */
        text-shadow: 1px 1px 1px black;
        color: #ffffff;
        font-size: 30px;
        font-family: 'coco';    /*utilizo la fuente declarada en @font-face*/
    }

    #logo {
        display: none;
    }

    #logo1 {
        display:initial;
        border-color: #4040e9;
        border-style: double;
        width: 7em;
        height: 3em;
        border-radius: 20px;
        padding: 5px;
    }

}

@media screen and (max-width: 700px) {
    nav, .row {
        flex-direction: column;
    }
}

@media (max-width: 820px) {
    /* HEADER */
    mostrar_menu,
    esconder_menu {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4D4D5C;
        right: -100%; /*sirve para hacer que el menu aparezca y desaparezca*/
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100; /* si hay otros elementos no se pisen y aparezca sobre ellos */
        transition: 0.8s;
    }

    .menu a {
        display: block;
        padding: 20px;
    }

    .esconder_menu {  /*posiciona el icono X*/
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu {
        right: 0;  /* con esto hago que aparezca y desaparezca el menu*/
    }


    .fondo-copy {
        border-radius: 0;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        /* background-color: rgba(128, 128, 128, 0.849);
        border-style: solid; */
        border-color:transparent;
        border-top-color: #21212285;
        border-right-color: #21212285;
        border-left-color: #21212285;
        /* font-size: 1.5rem; */
    }
    
    .fondo-mapa {
        padding: 10px;
        /* background-color: rgba(128, 128, 128, 0.849);
        border-style: solid;   */
       border-color: transparent;
        border-left-color: #21212285;
        border-right-color: #21212285;
    }

    .fondo-redes {
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        /* background-color: rgba(128, 128, 128, 0.849);
        border-style: solid; */
        border-color: transparent;
        border-left-color: #21212285;
        border-bottom-color: #21212285;
        border-right-color: #21212285;
    }



}